<nav>
    <a href="/">Home</a>
    <a href="http://localhost:3001/resources">View</a>
    <a href="http://localhost:3001/resources/new">Add</a>
    <a href="http://localhost:3001/resource-management">Manage</a>
</nav>