<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Resources</title>
</head>
<body>
    <%- include('../../partials/navbar.ejs') %>

    <h1>Add a new License to the Database</h1>
    <form id="license" action="./Licenses" method="POST">
        <fieldset aria-labelledby="Licenses">
            <legend>Add License</legend>

            <label for="category">License Category:</label>
            <select id="category" name="category">
                <option value="">--License</option>
                <option value="Internal">Internal</option>
                <option value="Customer-Facing Application">Customer-Facing</option>
                <option value="Media">Media</option>
                <option value="Rental">Rental</option>
                <option value="Permit">Permit</option>
            </select>

            <label for="vendor">Vendor:</label>
            <input id="vendor" name="vendor" type="text" maxlength="30" required>

            <label for="name">Product Name:</label>
            <input id="name" name="name" type="text" maxlength="30" required>

            <label for="license-key">License Key:</label>
            <input id="license-key" name="license-key" type="text" maxlength="30" required>

            <label for="seats-total">Seats Total:</label>
            <input id="seats-total" name="seats-total" type="number" required>

            <label for="seats-used">Seats Used:</label>
            <input id="seats-used" name="seats-used" type="number" required>

            <label for="renewal-date">Renewal Date:</label>
            <input id="renewal-date" name="renewal-date" type="date" required>

            <label for="assignees">Assignees:</label>
            <input id="assignees" name="assignees" type="text" required>

            <label for="notes">Additional Notes:</label>
            <textarea id="notes" name="notes" type="date"></textarea>

            <button type="submit">Submit</button>
        </fieldset>
    </form>
</body>
</html>