<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar.ejs', { apex:'../../' }) %>
    <%- include('../partials/searchbar.ejs') %>

    <h1>Add a New Resource</h1>
    <div>
        <ul>
            <h2>Create Resources</h2>
            <li><a href="./Licenses/new">New Software License</a></li>
            <li><a href="./Assets/new">New Physical Asset</a></li>
        </ul>
    </div>
</body>
</html>